@font-face {
    font-family:Figtree;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

/* general styles */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: "Figtree", sans-serif;
}

h1{
    color: hsl(0, 0%, 7%);
    font-size: 23px;
    margin: 10px 0;
    font-weight: 900;
}

h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
 }

/* main-container */
.main-container{
    background-color:hsl(0, 0%, 100%) ;
    width:50vw;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px 1px  hsl(0, 0%, 7%);
    max-width: 375px;
    min-height: 500px;
}

/* main-container-img */
.main-container-img{
    text-align: center;
    padding:  20px 0;
}

.main-container-img img{
    border-radius: 20px;
}

/* main-container-learning */
.main-container-learning{
    display: flex;
    flex-direction:column ;
    align-items: start;
    margin-left: 20px;
}

.main-container-learning p{
    background-color: hsl(47, 88%, 63%);
    font-weight:1000;
    padding: 5px 10px;
    border-radius: 4px;
    color: hsl(0, 0%, 7%);
}

/* main-container-content */
.main-container-content{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#content-published{
    margin: 10px 0;
    color: hsl(0, 0%, 7%);
    font-weight: 500;
}

#content-description{
    font-size: 17px;
    color: hsl(0, 0%, 50%);
}

/* main-container-avatar */
.main-container-avatar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 25px 0 0 25px;
}

.main-container-avatar img{
    width: 10%;
}

.main-container-avatar p{
    font-weight: bold;
    margin-left: 10px;
    color: hsl(0, 0%, 7%);
    font-weight: 900;
    font-size: 15px;
}


.attribution{
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
}

.attribution a{
    color:hsl(0, 0%, 50%) ;
}
.attribution a:hover{
    color:hsl(0, 0%, 100%) ;
}


/* ///////////// */
.colors{
    color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 100%) ;
    color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 7%);
}
/* ////////////// */

@media screen and (max-width: 745px) {
    .main-container-img img{
        width: 90%;
    }
    .main-container{
        width: 90%;
    }
}